@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  font-family: "Manrope", sans-serif;
}
/*@font-face {*/
/*  font-family: 'gins';*/
/*  src: url('/public/fonts/Starjedi.woff2') format('woff2');*/
/*}*/
.component {
  background: #d1d5db;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: animate-background 5s infinite;
}

@keyframes animate-background {
  0% {
    background: #6b7280;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  50% {
    background: #111827;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  100% {
    background: #6b7280;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}